{% extends "base_template.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<main class="form-signin w-100 m-auto" id="main"  hx-ext="response-targets">
  <div id="hollow" class="d-none"></div>
  <form hx-post="/login" hx-on::after-request="storeAuthToken(event.detail.xhr)" hx-target="#hollow" hx-target-error="#alert" >

    <img class="mb-4" src="/assets/image/logo.png" alt="" width="144" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div id="alert"></div>
    <div class="form-floating">
      <input type="email" class="form-control form-start" id="username_or_email" placeholder="name@example.com" name="username_or_email">
      <label for="username_or_email">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control form-bottom" id="password" name="password" placeholder="Password">
      <label for="password">Password</label>
    </div>

    <div class="form-check text-start my-3">
      <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Remember me
      </label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">
      Sign in</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
  </form>
</main>
{% endblock %}
