{% extends "base_template.html" %}
{% block title %}Signup{% endblock %}
{% block content %}

<main class="form-signin w-100 m-auto" id="main"  hx-ext="response-targets">
  <form hx-post="/signup" hx-target="#main" hx-target-error="#alert">

    <img class="mb-4" src="/assets/image/logo.png" alt="" width="144" height="57">
    <h1 class="h3 mb-3 fw-normal">Signup</h1>

    <div id="alert"> </div>
    <div class="form-floating">
      <input type="text" class="form-control form-start" id="username" name="username" placeholder="username">
      <label for="username">Username</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control form-middle" id="floatingInput" placeholder="name@example.com" name="email">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control form-middle" id="floatingPassword" placeholder="Password" name="password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control form-middle" id="firstName" name="first_name" placeholder="First Name">
      <label for="firstName">First Name</label>
    </div>
    <div class="form-floating ">
      <input type="text" class="form-control form-bottom" id="lastName" placeholder="Last Name" name="last_name">
      <label for="lastName">Last Name</label>
    </div>
    <button class="btn btn-primary w-100 py-2 mt-3" type="submit" >
      Sign up</button>
  </form>
  <div class="mt-1">
    <p>Already have an account? <a href="/login">Login</a></p>
  </div>
</main>



{% endblock %}
